Importing the Dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
# loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('/content/credit_data.csv')

In [3]:
# first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [4]:
# last 5 rows of the dataset
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
37717,39076,1.117749,-1.544665,-0.145357,-1.307482,-1.392833,-0.630833,-0.563659,-0.038716,-2.173892,...,-0.334155,-1.108220,0.070461,0.115485,0.078726,-0.460844,-0.029143,0.029028,183.19,0.0
37718,39076,0.758729,-0.483875,0.125488,1.449159,-0.639231,-0.805011,0.406994,-0.221212,0.068777,...,0.210712,0.063091,-0.316636,0.394472,0.558720,-0.304812,-0.033008,0.063331,250.00,0.0
37719,39076,-0.474907,0.835804,0.075878,-1.251283,2.492736,3.385419,0.169507,0.934749,-0.584224,...,-0.270398,-0.866353,-0.085720,0.986274,-0.082934,0.084198,0.310936,0.170342,1.49,0.0
37720,39077,-2.682780,-2.028562,1.745223,-1.157952,-0.143692,-0.807503,-1.154141,0.436917,-0.293442,...,0.353396,0.968145,-0.776459,0.182662,-0.000427,-0.209058,0.256991,-0.585781,102.00,0.0
37721,39077,1.106292,-0.525727,0.926440,0.817696,-1.122177,-0.062703,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37722 entries, 0 to 37721
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    37722 non-null  int64
 1   V1      37722 non-null  float64
 2   V2      37722 non-null  float64
 3   V3      37722 non-null  float64
 4   V4      37722 non-null  float64
 5   V5      37722 non-null  float64
 6   V6      37722 non-null  float64
 7   V7      37721 non-null  float64
 8   V8      37721 non-null  float64
 9   V9      37721 non-null  float64
 10  V10     37721 non-null  float64
 11  V11     37721 non-null  float64
 12  V12     37721 non-null  float64
 13  V13     37721 non-null  float64
 14  V14     37721 non-null  float64
 15  V15     37721 non-null  float64
 16  V16     37721 non-null  float64
 17  V17     37721 non-null  float64
 18  V18     37721 non-null  float64
 19  V19     37721 non-null  float64
 20  V20     37721 non-null  float64
 21  V21     37721 non-null  float64
 22  V22     37721 non-null  float64
 23  V23     37721 non-null  float64
 24  V24     37721 non-null  float64
 25  V25     37721 non-null  float64
 26  V26     37721 non-null  float64
 27  V27     37721 non-null  float64
 28  V28     37721 non-null  float64
 29  Amount  37721 non-null  float64
 30  Class   37721 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 8.9 MB

In [6]:
# check the number of missing values in each coloumn
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        1
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [9]:
#delete the last row (option 1)
#credit_card_data.drop(credit_card_data.index[-1], inplace=True)

#fill the missing data points with mean vlue (option 2)
last_row = credit_card_data.iloc[-1]  # Selecting the last row

mean_values = credit_card_data.iloc[:-1].mean()  # Calculating mean values of the remaining rows

filled_last_row = last_row.fillna(mean_values)  # Filling missing values with the mean

# Updating the last row in the original DataFrame
credit_card_data.iloc[-1] = filled_last_row

In [10]:
# check the number of missing values in each coloumn
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [12]:
# checking the number of missing values in each coloumn
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [13]:
# distribution of legit transaction and fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    37618
1.0      103
Name: Class, dtype: int64

This dataset is highly unbalanced

0 --> Normal Transaction


1 --> Fraudulent Transaction

In [14]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [15]:
print(legit.shape)
print(fraud.shape)

(37618, 31)
(103, 31)

In [16]:
# statistical measures of the data
legit.Amount.describe()

count    37618.000000
mean        86.017411
std        232.957939
min          0.000000
25%          7.300000
50%         22.880000
75%         77.675000
max       7879.420000
Name: Amount, dtype: float64

In [17]:
fraud.Amount.describe()

count     103.000000
mean       90.471165
std       247.173335
min         0.000000
25%         1.000000
50%         3.760000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [18]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,24778.212797,-0.186787,0.044196,0.749331,0.176750,-0.209569,0.105912,-0.092989,0.025693,0.243321,...,0.044683,-0.032046,-0.111604,-0.040404,0.007159,0.135739,0.021382,0.007030,0.003658,86.017411
1.0,20498.291262,-7.762676,5.838647,-10.957218,5.911555,-5.453798,-2.306085,-7.743100,3.867920,-2.961800,...,0.652319,0.628539,-0.354537,-0.362138,-0.234731,0.300023,0.180390,0.822304,0.102481,90.471165

# Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent transactions

Number of Fraudulaent Transactions ---> 103

In [19]:
legit_sample = legit.sample(n = 103) #random sampling

Concatenating two DataFrames

In [20]:
new_dataset = pd.concat([legit_sample, fraud], axis = 0) # '0' means row-wise , '1' means coloumn-wise

In [21]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
19520,30347,-0.572318,0.866719,1.183257,-1.269730,0.190104,-1.031637,1.041540,-0.238057,-0.547562,...,0.079483,0.203384,-0.096703,0.498289,-0.373612,1.199433,-0.138924,0.097548,15.00,0.0
5507,5555,-0.719787,0.485164,2.693657,1.729580,-0.023869,0.996260,0.534866,-0.420512,2.744687,...,-0.653733,-0.558343,0.027390,0.000966,-0.459577,-0.572201,-0.416842,-0.443128,35.49,0.0
878,666,1.394702,-0.412555,0.154001,-1.732758,-0.539421,-0.354963,-0.554095,-0.036177,1.706191,...,-0.069743,-0.056237,-0.164968,-0.964376,0.500864,0.025813,0.033512,0.012055,0.05,0.0
27705,34667,-0.493238,0.962859,1.745778,0.050128,-0.208424,-0.749275,0.590869,0.078316,-0.328043,...,-0.173675,-0.440357,0.081397,0.567774,-0.362087,0.070300,0.277919,0.121428,2.69,0.0
31653,36453,1.241362,-0.008557,-0.494116,0.192770,0.227335,-0.299660,0.223234,-0.006807,-0.087262,...,-0.405407,-1.418872,-0.023818,-0.899712,0.332633,0.195423,-0.089326,-0.009418,47.90,0.0

In [24]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
1564,1225,-0.487114,1.079935,1.562535,2.217667,-0.724771,0.169804,-0.125961,0.433695,-2.884886,...,-0.201253,-0.203573,0.183254,0.363574,-0.659730,0.110204,0.073792,0.105741,30.38,0.0
12778,22414,1.208511,-0.391864,0.906260,-0.697445,-1.004544,-0.281846,-0.818768,0.099965,2.997006,...,-0.135945,0.004541,-0.076224,-0.056597,0.457906,-0.720591,0.055042,0.015435,11.85,0.0
31983,36590,-2.665218,1.916410,0.762844,0.120042,-1.704674,-0.053404,-1.335389,1.893715,-0.003866,...,0.043868,-0.178695,-0.093431,-0.115553,0.421131,0.387868,-0.350560,-0.104274,8.46,0.0
24710,33344,0.729597,-0.897040,-1.472388,0.489376,1.913984,3.706269,-0.072501,0.777450,0.139917,...,-0.016032,-0.626626,-0.370109,1.024053,0.791765,-0.356094,-0.026861,0.060561,284.67,0.0
1222,943,-0.646869,0.450210,2.313941,1.737527,-0.390791,0.605523,-0.394163,0.493596,-0.534522,...,0.308745,0.828594,-0.055930,0.257670,-0.744638,1.156417,-0.046171,0.166418,10.59,0.0

In [26]:
new_dataset['Class'].value_counts()

0.0    103
1.0    103
Name: Class, dtype: int64

In [27]:
# compare the values for both transactions
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,23213.679612,-0.430378,-0.362777,0.612447,0.356513,0.035545,-0.161282,-0.340527,-0.034043,0.482474,...,-0.031010,-0.128216,-0.126237,-0.243077,-0.067381,0.125900,0.045677,0.013341,-0.047183,106.375825
1.0,20498.291262,-7.762676,5.838647,-10.957218,5.911555,-5.453798,-2.306085,-7.743100,3.867920,-2.961800,...,0.652319,0.628539,-0.354537,-0.362138,-0.234731,0.300023,0.180390,0.822304,0.102481,90.471165

Splitting the data into Features & Targets

In [28]:
X = new_dataset.drop(columns = 'Class', axis = 1)
Y = new_dataset['Class']

In [29]:
print(X)

        Time        V1        V2        V3        V4        V5        V6  \
19520  30347 -0.572318  0.866719  1.183257 -1.269730  0.190104 -1.031637
5507    5555 -0.719787  0.485164  2.693657  1.729580 -0.023869  0.996260
878      666  1.394702 -0.412555  0.154001 -1.732758 -0.539421 -0.354963
27705  34667 -0.493238  0.962859  1.745778  0.050128 -0.208424 -0.749275
31653  36453  1.241362 -0.008557 -0.494116  0.192770  0.227335 -0.299660
...      ...       ...       ...       ...       ...       ...       ...
30442  35926 -3.896583  4.518355 -4.454027  5.547453 -4.121459 -1.163407
30473  35942 -4.194074  4.382897 -5.118363  4.455230 -4.812621 -1.224645
30496  35953 -4.844372  5.649439 -6.730396  5.252842 -4.409566 -1.740767
31002  36170 -5.685013  5.776516 -7.064977  5.902715 -4.715564 -1.755633
33276  37167 -7.923891 -5.198360 -3.000024  4.420666  2.272194 -3.394483

             V7        V8        V9  ...       V20       V21       V22  \
19520  1.041540 -0.238057 -0.547562  ... -0.108177  0.079483  0.203384
5507   0.534866 -0.420512  2.744687  ...  0.078786 -0.653733 -0.558343
878   -0.554095 -0.036177  1.706191  ... -0.026088 -0.069743 -0.056237
27705  0.590869  0.078316 -0.328043  ...  0.001848 -0.173675 -0.440357
31653  0.223234 -0.006807 -0.087262  ... -0.090837 -0.405407 -1.418872
...         ...       ...       ...  ...       ...       ...       ...
30442 -6.805053  2.928356 -4.917130  ...  0.757287  1.691042  0.920021
30473 -7.281328  3.332250 -3.679659  ...  0.579098  1.550473  0.614573
30496 -6.311699  3.449167 -5.416284  ...  0.284555  1.194888 -0.845753
31002 -6.958679  3.877795 -5.541529  ...  0.299489  1.128641 -0.962960
33276 -5.283435  0.131619  0.658176  ... -2.169811 -0.734308 -0.599926

            V23       V24       V25       V26       V27       V28  Amount
19520 -0.096703  0.498289 -0.373612  1.199433 -0.138924  0.097548   15.00
5507   0.027390  0.000966 -0.459577 -0.572201 -0.416842 -0.443128   35.49
878   -0.164968 -0.964376  0.500864  0.025813  0.033512  0.012055    0.05
27705  0.081397  0.567774 -0.362087  0.070300  0.277919  0.121428    2.69
31653 -0.023818 -0.899712  0.332633  0.195423 -0.089326 -0.009418   47.90
...         ...       ...       ...       ...       ...       ...     ...
30442 -0.151104  0.011007  0.080303  0.412191  0.635789  0.501050    4.56
30473  0.028521  0.013704 -0.149512 -0.131687  0.473934  0.473757   14.46
30496  0.190674 -0.216443 -0.325033 -0.270328  0.210214  0.391855  111.70
31002 -0.110045 -0.177733 -0.089175 -0.049447  0.303445  0.219380  111.70
33276 -4.908301  0.410170 -1.167660  0.520508  1.937421 -1.552593   12.31

[206 rows x 30 columns]

In [30]:
print(Y)

19520    0.0
5507     0.0
878      0.0
27705    0.0
31653    0.0
        ...
30442    1.0
30473    1.0
30496    1.0
31002    1.0
33276    1.0
Name: Class, Length: 206, dtype: float64

Split the data into Training data and Testing data

In [31]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state=2) # 0.2 means 20% of the data

In [32]:
print(X.shape, X_train.shape, X_test.shape)

(206, 30) (164, 30) (42, 30)

Model Training

❤ Logistic Regression

In [36]:
model = LogisticRegression()

In [37]:
# training the Logistic Regression with training data
model.fit(X_train, Y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation

Accuracy Score

In [38]:
# accuracy on the training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [39]:
print('Accuracy on Training data : ',training_data_accuracy)

Accuracy on Training data :  0.9207317073170732

In [40]:
# accuracy on the testing data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [41]:
print('Accuracy on Testing data : ',test_data_accuracy)

Accuracy on Testing data :  0.9047619047619048